@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  font-size: 62.5%;
}

/*  Setting the font-size to 62.5% at root level and then setting the default
    font-size to 1.6rem converts font-size to base 10, which is a neat trick
    to make working with relative units like rem easier to manage.
    This also preserves the common browser default font-size of 16pt.  */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right bottom, #283539 0%, #141717 100%);
}